test_workflow.json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "09b8d59d-34e9-4efc-9f2e-f3ac6ea32d3b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        112
      ],
      "id": "72af2df6-bc47-4bd6-9310-1f88d08282e7",
      "name": "Webhook",
      "webhookId": "09b8d59d-34e9-4efc-9f2e-f3ac6ea32d3b"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "done": false,
            "id": 5,
            "title": "={{ $json.body.title }}",
            "description": "={{ $json.body.description }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "done",
              "displayName": "done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "1b67ef04-85d5-4b25-9b63-3b9dc38f2d73",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "t1GjgGOMcnqFb2QU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "queue": "task_created",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        352,
        0
      ],
      "id": "ed3a5eee-53fe-443c-b9e2-5b5c57b892e5",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "D9rcO4UkxNl8B00d",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35e43bb6-7e35-4142-864a-8e7855b367d3",
              "leftValue": "={{ $json.body.title }}",
              "rightValue": "undefined",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        112
      ],
      "id": "0e27921a-b7f8-4fc4-938b-101b1a3d978b",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "400: Le champ 'title' est obligatoire."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        96,
        256
      ],
      "id": "b5418770-5c20-4e18-b86a-a3e77cb9a9d7",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d58a6c8b-cc18-4eba-9f3d-deacf62506e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ae9ff0b3750e74797fa012dbbea7b02501c654317a062e659bca6b93e3d8c23"
  },
  "id": "d67loQmmuTrcmcBA",
  "tags": []
}